<app-header></app-header>

<div class="container-2">

    <!-- header -->
    <section class="header">
        <!-- mobile menu -->
        <div class="mobile-menu bg-second">
            <a href="#" class="mb-logo">Face Sale</a>
            <span class="mb-menu-toggle" id="mb-menu-toggle">
                <i class='bx bx-menu'></i>
            </span>
        </div>
        <!-- end mobile menu -->
        <!-- main header -->
        <div class="header-wrapper" id="header-wrapper">
            <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
                <i class='bx bx-x'></i>
            </span>
            <!-- top header -->

            <!-- end top header -->
            <!-- mid header -->
            <div class="bg-main">
                <div class="mid-header container">
                    <a href="#" class="logo">Face Sale</a>
                    <div class="search">
                        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()"
                            placeholder="Search">
                        <i class='bx bx-search-alt'></i>
                    </div>
                    <ul class="user-menu">
                        <li><a href="#"><i class='bx bx-bell'></i></a></li>
                        <li><a href="#"><i class='bx bx-user-circle'></i></a></li>
                        <li><a href="#"><i class='bx bx-cart'></i></a></li>
                    </ul>
                </div>
            </div>



        </div>
        <!-- end bottom header -->

        <!-- end main header -->
    </section>



    <div class="bg-main">
        <div class="container">
            <div class="box">
                <div class="breadcumb">
                    <a href="">Inicio</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a href="">Todas las obras de Arte</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a href=""> {{artwork.title}}</a>
                </div>
            </div>
            <div class="row product-row">
                <div class="col-5 col-md-12">
                    <div class="product-img" id="product-img">
                        <img [src]="artwork.imageSrc" alt="product-img">
                    </div>
                    <div class="box">

                    </div>
                </div>
                <div class="col-7 col-md-12">
                    <div class="right-column">
                        <div class="rating-section">

                            <span class="reviews">(21,671 User feedback)</span>
                        </div>

                        <h2 class="product-title">{{artwork.title}}</h2>

                        <div class="product-meta">
                            <p><strong>Category: </strong> {{artwork.category}}</p>
                            <p><strong>Artista:</strong> {{artwork.artist}}</p>
                            <p><strong>Año de creación:</strong> <span class="in-stock"> {{ artwork.yearCreated | date:
                                    'yyyy-MM-dd' }}</span>
                            </p>
                            <p><strong>Tecnica: </strong> <span>{{artwork.technique}}</span></p>
                        </div>

                        <div class="price-section">
                          <strong>Precio Original: </strong>  <span class="current-price"> $ {{artwork.startingPrice}}</span>

                        </div>
                         <div class="price-section">
                            <strong> Estado: </strong> <span class="current-price">{{artwork.status}}</span>

                        </div>
                        <div>
                            <p><strong>Size</strong></p>
                            <span class="size">{{artwork.dimensions.width_cm}} x {{artwork.dimensions.height_cm}}
                                cm</span>

                        </div>




                    </div>
                    <div class="auction-info">
                        <div class="auction-timer">
                            <p style="font-size: 2rem;"><strong>CIERRA:</strong> {{ getAuctionDuration()}}</p>
                            <p><strong>DÍA APERTURA:</strong> {{ auction.startDate | date: 'yyyy-MM-dd' }} a las
                                {{ auction.startDate | date: 'hh:mm a' }}
                            </p>
                            <p><strong>FECHA DE CIERRE:</strong>
                                {{ auction.endDate | date: 'yyyy-MM-dd' }} a las
                                {{ auction.endDate | date: 'hh:mm a' }}
                            </p>

                        </div>

                        <div class="auction-meta">
                            <span>VISITAS: </span> 

                            <span>PARTICIPANTES: </span>
                            
                            <span>OFERTAS: </span>
                        </div>

                        <div class="auction-prices">
                            <p><strong>Oferta Actual:</strong> <span class="price-current">$ 148.900.000
                                    (COP)</span></p>
                            <p><strong>Mayor Oferta:</strong> <span class="price-high">---</span></p>
                        </div>

                        <div class="auction-offer-input">
                            <label for="offerInput"><strong>Oferta Sugerida</strong></label>
                            <div class="offer-control">
                                <button>-</button>
                                <input type="text" id="offerInput" value="149.400.000 $" readonly>  
                                <button>+</button>
                            </div>
                            <p>Incremento 500.000 $</p>

                            <div class="toggle-auto-offer">
                                <label>
                                    <input type="checkbox">
                                    Oferta Automática
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="box-header">
                    description
                </div>
                <div class="product-detail-description">

                    <div class="product-detail-description-content">
                        <p>
                            {{artwork.description}}
                        </p>


                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    review
                </div>
                <div>
                    <div class="user-rate">
                        <div class="user-info">
                            <div class="user-avt">
                              
                            </div>
                            <div class="user-name">
                                <span class="name">tuat tran anh</span>
                                <span class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </span>
                            </div>
                        </div>
                        <div class="user-rate-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis
                            amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus
                            voluptas vero? Aspernatur!
                        </div>
                    </div>

                </div>
                <div class="box">
                    <div class="box-header">
                        related products
                    </div>
                    <div class="row" id="related-products"></div>
                </div>
            </div>
        </div>
        <footer class="bg-second">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Obras de arte</h3>
                        <ul class="menu">
                            <li><a href="#">Centro de ayuda</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Ayuda con obras de arte</a></li>
                            <li><a href="#">Garantía</a></li>
                            <li><a href="#">Estado del pedido</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Servicios</h3>
                        <ul class="menu">
                            <li><a href="#">Centro de ayuda</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Ayuda con obras de arte</a></li>
                            <li><a href="#">Garantía</a></li>
                            <li><a href="#">Estado del pedido</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Soporte</h3>
                        <ul class="menu">
                            <li><a href="#">Centro de ayuda</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Ayuda con obras de arte</a></li>
                            <li><a href="#">Garantía</a></li>
                            <li><a href="#">Estado del pedido</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="contact">
                            <div style="margin-left: 6rem; margin-bottom: 2rem;"
                                class="flex items-center justify- gap-3 h-full text-black w-[25%] font-extrabold">
                                <div class="flex items-center justify-center h-9 w-9">
                                    <div class="flex w-5 h-5 rounded-sm bg-[#c9a45b] rotate-45"></div>
                                </div>
                                <span class="flex leading-none text-2xl">Face<br />Sale</span>
                            </div>
                            <ul class="contact-socials">
                                <li><a href="#">
                                        <i class='bx bxl-facebook-circle'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-instagram-alt'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-youtube'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-twitter'></i>
                                    </a></li>
                            </ul>
                        </div>
                        <div class="subscribe">
                            <input type="email" placeholder="TU CORREO ">
                            <button style="margin-left: 2rem;">suscribirse</button>
                        </div>
                    </div>
                </div>
            </div>

            <p style="margin-top: 1rem; text-align: center;">Copyright &copy; 2025 Face Sale. Todos los derechos
                reservados.
            </p>

        </footer>


    </div>