<div class="flex flex-col h-dvh w-full justify-baseline items-center bg-[#272727]">
    <header class="flex items-center justify-between h-35 w-full px-10 text-center z-10">
        <div class="flex items-center justify-center gap-3 h-full text-white w-[25%] font-extrabold">
            <div class="flex items-center justify-center h-7.5 w-7.5">
                <div class="flex w-5 h-5 rounded-sm bg-[#c9a45b] rotate-45"></div>
            </div>
            <span class="flex leading-none text-2xl">Face<br />Sale</span>
        </div>
        <nav class="flex flex-row justify-center items-center gap-10 w-[50%] h-full ease-in-out font-semibold">
            <a routerLink="/main" class="text-[1.2em] text-white hover:text-[#B5964D]">Inicio</a>
            <a routerLink="/" class="text-[1.2em] text-white hover:text-[#B5964D]">Acerca De</a>
            <a routerLink="/" class="text-[1.2em] text-white hover:text-[#B5964D]">Menu</a>
            <a routerLink="/ecommerce" class="text-[1.2em] text-white hover:text-[#B5964D]">Obras De Arte</a>
            <a routerLink="/" class="text-[1.2em] text-white hover:text-[#B5964D]">Reseñas</a>
            <a routerLink="/" class="text-[1.2em] text-white hover:text-[#B5964D]">Blogs</a>
        </nav>

        <div class="flex justify-center h-full items-center w-[25%]">
            <button routerLink="/login"
                class="bg-[#B5964D] flex items-center gap-1 text-white font-extrabold px-2 p-1.5 h-12 rounded-md cursor-pointer hover:bg-[#B5964D]/80 transition-all ease-in-out duration-400">
                <span>Iniciar Sesión</span>
                <span class="icon"><svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#ffffff"
                            d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
                    </svg></span>
            </button>
        </div>
    </header>

    <main class="flex justify-center items-center h-full">
     @if(usuarioRecibido){
        <app-form-facial @fadeIn ></app-form-facial>
        }@else{
        <app-form-register (notificarUser)="recibirUsuario($event)"></app-form-register>
        }
    </main>
</div>