<div class="app-container">
    <header class="header">
        <div class="logo">
            <div class="diamond"></div>
            <span class="logo-text">Face<br />Sale</span>
        </div>
        <nav class="nav">
            <a href="#">Inicio</a>
            <a href="#">Subastas<br />Activas</a>
            <a href="#">Categorías</a>
        </nav>
        <a routerLink="/login">
            <button class="login-button">
                Iniciar Sesión <span class="icon">🔓</span>
            </button>
        </a>
    </header>



    <main class="main">
     @if(usuarioRecibido){
        <app-form-facial @fadeIn ></app-form-facial>
        }@else{
        <app-form-register (notificarUser)="recibirUsuario($event)"></app-form-register>
        }
    </main>
</div>