<div class="container">
    <nav>
        <div class="logo">Face Gallery</div>
        <ul>
            <li>Inicio</li>
            <li>Subastas</li>
            <li>Categorías</li>
            <li>Contacto</li>
        </ul>
        <!-- Directamente en el botón -->
        <a routerLink="/login">
            <button class="login-btn">
              Iniciar Sesión
            </button>
          </a>
          

    </nav>

    <header>
        <h1>Bienvenido a Face Gallery</h1>
        <p>Tu espacio exclusivo para descubrir y subastar obras digitales únicas</p>
    </header>

    <section class="features">
        <div class="card">
            <h3>Subastas Activas</h3>
            <p>Participa en subastas en tiempo real y obtén piezas únicas de arte digital.</p>
        </div>
        <div class="card">
            <h3>Obras Exclusivas</h3>
            <p>Explora una galería curada de esculturas, pinturas abstractas y arte 3D.</p>
        </div>
        <div class="card">
            <h3>Artistas Emergentes</h3>
            <p>Conecta con nuevos talentos y apoya a creadores innovadores de todo el mundo.</p>
        </div>
    </section>

    <footer>
        &copy; 2025 Face Gallery. Todos los derechos reservados.
    </footer>
</div>