.next-button {
    margin-top: 10px;
    background-color: #000;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.next-button:hover {
    background-color: #333;
}
